@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pad: max(20px, 4vmin);
  --vh: 1.4000000000000001px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: var(--pad);
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 95%);
}
